# Database Schema

The following database schema defines the structure for storing information related to manufacturers, models, part catalogues, parts, product manufacturers, and products.

## Tables

### Table: Manufacturer
- **Columns**:
  - `name` (VARCHAR(255)): Primary key representing the manufacturer's name.
  - `page_link` (VARCHAR(255)): Link to the manufacturer's page.
  - `logo_link` (VARCHAR(255)): Link to the manufacturer's logo.

### Table: Model
- **Columns**:
  - `name` (VARCHAR(255)): Primary key representing the model's name.
  - `img_link` (VARCHAR(255)): Link to the model's image.
  - `page_link` (VARCHAR(255)): Link to the model's page.
  - `year_start` (INT): Starting year of the model.
  - `year_end` (INT): Ending year of the model.
  - `manufacturer_name` (VARCHAR(255)): Foreign key referencing the manufacturer.

### Table: Part Catalogue
- **Columns**:
  - `name` (VARCHAR(255)): Primary key representing the part catalogue's name.

### Table: Part
- **Columns**:
  - `id` (SERIAL): Primary key representing the part's ID.
  - `name` (VARCHAR(255)): Not null field representing the part's name.
  - `model_name` (VARCHAR(255)): Foreign key referencing the model.
  - `page_link` (VARCHAR(255)): Link to the part's page.
  - `catalogue_name` (VARCHAR(255)): Foreign key referencing the part catalogue.

### Table: Product Manufacturer
- **Columns**:
  - `name` (VARCHAR(100)): Primary key representing the product manufacturer's name.

### Table: Product
- **Columns**:
  - `id` (SERIAL): Primary key representing the product's ID.
  - `code` (VARCHAR(50)): Code representing the product.
  - `price` (DECIMAL(10, 2)): Price of the product.
  - `part_id` (SERIAL): Foreign key referencing the part.
  - `manufacturer_name` (VARCHAR(255)): Foreign key referencing the product manufacturer.
  - `description` (TEXT): Description of the product.
  - `city` (VARCHAR(100)): City associated with the product.

In [1]:
-- Таблица "manufacturer"
CREATE TABLE manufacturer (
    name VARCHAR(255) PRIMARY KEY,
    page_link VARCHAR(255),
    logo_link VARCHAR(255)
);

-- Таблица "model"
CREATE TABLE model (
    name VARCHAR(255) PRIMARY KEY,
    img_link VARCHAR(255),
    page_link VARCHAR(255),
    year_start INT,
    year_end INT,
    manufacturer_name VARCHAR(255),
    FOREIGN KEY (manufacturer_name) REFERENCES manufacturer(name)
);

-- Таблица "part_catalogue"
CREATE TABLE part_catalogue (
    name VARCHAR(255) PRIMARY KEY
);

-- Таблица "part"
CREATE TABLE part (
    id SERIAL PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    model_name VARCHAR(255),
    page_link VARCHAR(255),
    catalogue_name VARCHAR(255),
    FOREIGN KEY (model_name) REFERENCES model(name),
    FOREIGN KEY (catalogue_name) REFERENCES part_catalogue(name)
);

-- Таблица "part_manufacturer"
CREATE TABLE product_manufacturer (
    name VARCHAR(100) PRIMARY KEY
);

-- Таблица "product"
CREATE TABLE product (
    id SERIAL PRIMARY KEY,
    code VARCHAR(50),
    price DECIMAL(10, 2),
    part_id SERIAL,
    manufacturer_name VARCHAR(255),
    description TEXT,
    city VARCHAR(100),
    FOREIGN KEY (manufacturer_name) REFERENCES product_manufacturer(name),
    FOREIGN KEY (part_id) REFERENCES part(id)
);

: relation "manufacturer" already exists